<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.ateam.company.dao.CompanyDao">


	<!-- crn 중복체크 -->
	<select id="crnCheck" parameterType="map" resultType="int">
		select count(*) from company where crn = #{crnv}
	</select>


<resultMap type="cvo" id="companyLoginResult">
	<id property="cnum" column="cnum"/>
	<result property="cstatus" column="cstatus" />
	<result property="r_num" column="r_num" />
	<result property="crn" column="crn" />
	<result property="cpwd" column="cpwd" />
	<result property="ccate" column="ccate" />
	<result property="cdate" column="cdate" />
	<result property="hgrade" column="hgrade" />
<association property="hvo" javaType="hvo">
	<id property="cnum" column="cnum"/>
	<result property="hname" column="hname" />
</association>
</resultMap>

	<select id="companyLogin"  resultMap="companyLoginResult">
		select c.*,h.hname from company c ,hospital h where crn=#{crn} and cpwd=#{cpwd} and c.cnum = h.cnum
	</select>
	<select id="idchk" parameterType="map" resultType="int">
		select count(*) from company where crn=#{crn} and cpwd=#{cpwd}
	</select>


</mapper>
