<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.ateam.medInq.dao.MedinqDao">

<insert id="addMedinq" parameterType="mivo">
	insert into medinq values (#{mednum}, #{disease1}, #{disease2}, #{diseasehist}, 
	#{diseaseetc}, #{smoke},#{alcohol},#{allergy},#{allergyetc}, 
	#{pregnancy},#{symptom}, sysdate)
</insert>

<select id="checkMedNum" parameterType="int" resultType="int">
	select count(*) from medinq where mednum = #{num}
</select>

<select id="showMedinq" parameterType="int" resultType="int">
	select * from medinq where mednum = #{num}
</select>
 
<select id="getMIDetail" parameterType="int" resultType="mivo">
	select * from medInq where mednum = #{mednum}
</select>
<!--
<update id="miUpdate" parameterType="mivo" >
	update medInq set DISEASE1 = #{disease1}, DISEASE2 = #{disease2}, DISEASEHIST = #{diseasehist}, 
    DISEASEETC = #{diseaseetc}, SMOKE = #{smoke}, ALCOHOL = #{alcohol}, ALLERGY = #{allergy}, 
    ALLERGYETC = #{allergyetc}, PREGNANCY = #{pregnancy}, SYMPTOM = #{symptom}
	where mednum = #{num} 
</update>

<delete id="miDelete" parameterType="int">
	delete from medInq where mednum = #{num}
</delete> -->


<!-- <select id="getCnt" resultType="int" parameterType="svo"> -->
<!--   select count(*) from quesboard -->
<!--   <choose> -->
<!-- 	<when test="category != null and category != ''"> -->
<!-- 	<choose> -->
<!-- 		<when test="category == 'qtitle'"> -->
<!-- 			where qtitle like '%' || #{search} || '%' -->
<!-- 		</when> -->
<!-- 		<when test="category == 'qcont'"> -->
<!-- 			where qcont like '%' || #{search} || '%' -->
<!-- 		</when> -->
<!-- 		<when test="category == 'id'"> -->
<!-- 			where id like '%' || #{search} || '%' -->
<!-- 		</when> -->
<!-- 		<when test="category == 'qcate'"> -->
<!-- 			where qcate like '%' || #{search} || '%' -->
<!-- 		</when> -->
<!-- 		<when test="category == 'all'"> -->
<!-- 			where id like '%'||#{search}||'%' -->
<!-- 			or qcont like '%'||#{search}||'%' -->
<!-- 			or qtitle like '%'||#{search}||'%' -->
<!-- 			or qcate like '%'||#{search}||'%' -->
<!-- 		</when> -->
<!-- 	</choose> -->
<!-- 	</when> -->
<!--   </choose> -->
<!-- </select> -->
<!-- <select id="getQBList" resultType="qvo" parameterType="svo"> -->
<!-- select * from ( -->
<!--     select rownum r_num, q.* from ( -->
<!--         select * from quesboard -->
<!--   <choose> -->
<!-- 	<when test="category != null and category != ''"> -->
<!-- 	<choose> -->
<!-- 		<when test="category == 'all'"> -->
<!-- 			where id like '%'||#{search}||'%' -->
<!-- 			or qcont like '%'||#{search}||'%' -->
<!-- 			or qtitle like '%'||#{search}||'%' -->
<!-- 			or qcate like '%'||#{search}||'%' -->
<!-- 		</when> -->
<!-- 		<otherwise> -->
<!-- 		    where ${category} like '%'||#{search}||'%' -->
<!-- 		</otherwise> -->
<!-- 	</choose> -->
<!-- 	</when> -->
<!--   </choose>  -->
<!-- 	    order by qnum desc -->
<!-- 	) q  -->
<!-- ) where r_num between #{beginPerPage} and #{endPerPage} -->
<!-- </select> -->

<!-- <select id="getCate" resultType="qvo"> -->
<!-- 	select distinct qcate from quesboard -->
<!-- </select> -->

<!-- 조회수 업데이트 -->
<!-- <update id="upQBHit" parameterType="int"> -->
<!-- 	update quesboard set qhit=qhit+1 where qnum=#{qnum} -->
<!-- </update> -->


<!-- <update id="qbUpdate" parameterType="qvo" > -->
<!-- 	update quesboard set qtitle = #{qtitle}, qcont = #{qcont} -->
<!-- 	where qnum=#{qnum} -->
<!-- </update> -->

<!-- <delete id="qbDelete" parameterType="int"> -->
<!-- 	delete from quesboard where qnum = #{qnum} -->
<!-- </delete> -->





</mapper>