<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.ateam.quesboard.dao.QuesboardDao">

<insert id="addQuesboard" parameterType="qvo">
	insert into quesboard values (QUESBOARD_SEQ.nextval, 
	#{id}, #{qtitle}, #{qcont}, 0, sysdate, #{qcate})
</insert>

<select id="getCnt" resultType="int" parameterType="svo">
  select count(*) from quesboard
  <choose>
	<when test="search != null and search != ''">
<!-- 	<choose> -->
<!-- 		<when test="category == 'qtitle'"> -->
			where qtitle || qcont || qcate || id
			like '%' || #{search} || '%'
<!-- 		</when> -->
<!-- 		<when test="category == 'qcont'"> -->
<!-- 			where qcont like '%' || #{search} || '%' -->
<!-- 		</when> -->
<!-- 		<when test="category == 'id'"> -->
<!-- 			where id like '%' || #{search} || '%' -->
<!-- 		</when> -->
<!-- 		<when test="category == 'qcate'"> -->
<!-- 			where qcate like '%' || #{search} || '%' -->
<!-- 		</when> -->
<!-- 		<when test="category == 'all'"> -->
<!-- 			where id like '%'||#{search}||'%' -->
<!-- 			or qcont like '%'||#{search}||'%' -->
<!-- 			or qtitle like '%'||#{search}||'%' -->
<!-- 			or qcate like '%'||#{search}||'%' -->
<!-- 		</when> -->
<!-- 	</choose> -->
	</when>
  </choose>
</select>
<select id="getQBList" resultType="qvo" parameterType="svo">
select * from (
    select rownum r_num, q.* from (
        select * from quesboard
  <choose>
	<when test="search != null and search != ''">
		where qtitle || qcont || qcate || id
			like '%' || #{search} || '%'
<!-- 	<choose> -->
<!-- 		<when test="category == 'all'"> -->
<!-- 			where id like '%'||#{search}||'%' -->
<!-- 			or qcont like '%'||#{search}||'%' -->
<!-- 			or qtitle like '%'||#{search}||'%' -->
<!-- 			or qcate like '%'||#{search}||'%' -->
<!-- 		</when> -->
<!-- 		<otherwise> -->
<!-- 		    where ${category} like '%'||#{search}||'%' -->
<!-- 		</otherwise> -->
<!-- 	</choose> -->
	</when>
  </choose> 
	    order by qnum desc
	) q 
) where r_num between #{beginPerPage} and #{endPerPage}
</select>

<select id="getCate" resultType="qvo">
	select distinct qcate from quesboard
</select>

<!-- 조회수 업데이트 -->
<update id="upQBHit" parameterType="int">
	update quesboard set qhit=qhit+1 where qnum=#{qnum}
</update>

<select id="getQBDetail" parameterType="int" resultType="qvo">
	select * from quesboard where qnum=#{num}
</select>

<update id="qbUpdate" parameterType="qvo" >
	update quesboard set qtitle = #{qtitle}, qcont = #{qcont}
	where qnum=#{qnum}
</update>

<delete id="qbDelete" parameterType="int">
	delete from quesboard where qnum = #{qnum}
</delete>





</mapper>