<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.ateam.reserve.dao.ReserveDao">
<resultMap type="doctorVO" id="choiceDoctorInfo">
	<id property="dnum" column="dnum"/>
	<result property="dname" column="dname"/>
<collection property="reserveVO" javaType="java.util.List" ofType="reserveVO">
	<id property="reservNum" column="reservNum"/>
	<result property="num" column="num"/>
	<result property="rdate" column="rdate"/>
	<result property="rtime" column="rtime"/>
</collection>
</resultMap>

	<insert id="addReserve" parameterType="reserveVO">
		insert into reserve values(reserve_seq.nextVal,#{num},#{dnum},#{symptom},#{symptomComm},#{contectCheck},#{rdate},#{rtime})
	</insert>
	<select id="choiceDoctor"  parameterType="int" resultType="doctorVO">
		select dnum,dname,dmajor from doctor where dnum=#{dnum}
	</select>
	<select id="getDoctorCnt"  parameterType="int" resultType="int">
		select count(*) from doctor where cnum = #{cnum}
	</select>
	
	
	<select id="checkDate" resultType="reserveVO">
 	select rtime from reserve r where dnum=#{dnum} and rdate=#{rdate}
	</select>
	<select id="getReserveHospital" resultType="reserveVO" parameterType="map">
	select * from reserve where dnum in (select dnum from doctor where cnum in (select cnum from hospital where hname = #{name})) order by reservnum
	</select>
	
	<!-- 진료 -->
	
	<select id="checkReserve"/>
</mapper>