<?xml version="1.0" encoding="EUC-KR"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.ateam.pharmacy.dao.ShopDao">
		<select id="getAllShop" resultType="int">
		select count(*) from Pharmacy
	</select>
	<select id="ShopListPage" resultType="pvo" parameterType="map">
		select * from (
		    select rownum r_num, a.* from (
		     select * from Pharmacy order by pnum
		    ) a
		 ) where r_num BETWEEN #{begin} and #{end}
	</select>
		<select id="ShopDetail" parameterType="int" resultType="pvo">
		select * from
		Pharmacy where pnum = #{pnum}
	</select>
	<select id="SearchShopList" parameterType="map"
		resultType="pvo">
		select * from (
		select rownum r_num, a.* from (
		select * from Pharmacy where
		<choose>
			<when test="pname != null">
				pname 
			</when>
			<when test="ploc != null">
				ploc 
			</when>
			<when test="pnum != null">
				pnum 
			</when>
		</choose>
		like '%'||#{searchf}||'%'
		order by pnum
		) a
		) where r_num BETWEEN #{begin} and #{end}
	</select>

	<select id="searchCount" parameterType="map" resultType="int">
		select count(*) from Pharmacy
		
		<choose>
			<when test="pname != null">
			where pname like '%'||#{searchf}||'%'
			</when>
			<when test="ploc != null">
			where ploc  like '%'||#{searchf}||'%'
			</when>
			<when test="pnum != null">
			where pnum like '%'||#{searchf}||'%'
			</when>
		</choose>
	</select>
	<select id="getAndriod" resultType="pvo">
		select * from Pharmacy order by pnum
	</select>
	
	<select id="getPharmacy" parameterType="map" resultType="pvo">
	select  pname from pharmacy 
	<choose>
			<when test="address == '논현'">
			 where ploc like '%논현%'
			</when>
			<when test="address == '개포'">
			where ploc like '%개포%'
			</when>
			<when test="address == '대치'">
			where ploc like '%대치%'
			</when>
		</choose>
	</select>
	<select id="getShopPharmacy" parameterType="map" resultType="pvo">
	select * from pharmacy where pname = #{name}
	</select>
</mapper>